# A configuration file for specifying fragment picking tools and databases,
# as well as any other fragmentor options.
# 
# Implemented via Python's ConfigParser:
#   http://docs.python.org/library/configparser.html
#
# Format is:
# [section name]
# option: value
#
# Note: most values are read into the environment by the Fragmentor.
#

[script]
# The location of the fragment picking perl script
frag_script: /home/dpb3/hpf/hpf/fragmentor/scripts/make_fragments.local.pl

[tools]
# Define a "tools" directory to sub in following fields (not read by Fragmentor). Can do manually instead.
tools_dir: /home/dpb3/hpf/hpf/fragmentor/tools

blast:        %(tools_dir)s/blast
nnmake_short: %(tools_dir)s/nnmake
psipred:      %(tools_dir)s/psipred
jufo:         %(tools_dir)s/jufo
sam:          %(tools_dir)s/sam
sam_2nd:      %(tools_dir)s/sam.predict-2nd


[databases]
# Define a "db" directory for subbing, as above.
#db_dir: /scratch/dpb3/databases
nr:       /data/nr
nnmakedb: /data/nnmake

